#tophost{ margin-top: 50px;width: 100%;background: #fff; text-align: center;}
.top-text p{ color:#333; }
.top-text p:nth-child(1){ font-size: 22px;font-weight: bold; margin-bottom: 20px;}
.top-text p:nth-child(2){ font-size: 16px; }
.header-nav {
	box-shadow: 2px 2px 2px #cdcdcd;
}
.top-img{ width: 1200px;height: 720px;display: flex;justify-content: space-between;flex-direction: column; margin: 0 auto;margin-top: 30px;margin-bottom: 60px; }
.text-title p{ color: #333;font-size: 20px;font-weight: bold;text-align: left;margin-bottom: 40px;}
.showImg{ height: 658px;display: flex;justify-content: space-between;flex-direction: row; flex-wrap: wrap;}
.showImg img{ width: 360px;height: 314px;margin-bottom: 30px; }

#middle1{ background: #f1f1f1;margin-top: 60px; }
.wrap{ width: 1200px;margin: 60px auto; padding-top: 60px;padding-bottom: 60px;}
.price{ margin-bottom: 50px;color: #333; }
.price p{ font-size: 20px;font-weight: bold; }
.type{ display: flex;justify-content: space-between;flex-direction: row; margin-bottom: 60px;}
.item{ text-align: center;color: #333;width: 240px; }
.item img{ margin-bottom: 30px; }
.area{ height: 100px;display: flex;justify-content: space-between;flex-direction: column; color: #333;}
.area p{ font-size: 20px; }
.area p:nth-child(1){ font-size: 22px; }
.book{ display: flex;justify-content: space-around; margin-bottom: 30px;}
.book a{ display: block; width: 200px;height: 50px;font-size: 20px;color: #fff; line-height: 50px;text-align: center;background: #4097f9;border-radius: 2px;}
.book a:hover{ color: #fff;text-decoration: none; }


.bottom-t{ background: #fff; }
.b-wrap{ width: 1200px;margin: 0 auto; height: 100%;}
.wrap-t{ margin-bottom: 50px; }
.cloth{ font-weight: bold;font-size: 20px;color: #333;  margin-bottom: 60px;}
.show-pic{ display: flex;justify-content: space-between;flex-direction: row; align-items: center;}
.text-t{ color: #333;font-size: 20px;margin-bottom: 18px;font-weight: bold; }


.footer-img{ width: 100%;height: 560px; position: relative;}
.footer-img img{ width: 100%;height:100%; }
.order-text{ width: 1200px;margin: 0 auto;position: absolute;top: 100px; left: 50%;margin-left: -600px;}
.text-b{ color: #333;font-size: 16px; line-height: 30px;}
.text-b p:nth-child(1){ margin-bottom: 10px; }
.textlist-t p:nth-child(1){ font-size: 20px;color: #333;margin-bottom: 20px; }
.textlist-t p:nth-child(2){ font-size: 18px;color: #333;margin-bottom: 16px; }
.textlist-t p:nth-child(3){ font-size: 16px;color: #333;margin-bottom: 26px; }
.textlist-b{ color: #5c5c5c;font-size: 18px;line-height: 30px; }
.order{ display: flex;justify-content: space-between;}
.order a{ display: block; width: 200px;height: 50px;font-size: 20px;color: #fff; line-height: 50px;text-align: center;background: #4097f9;border-radius: 2px;}
